.Album{
    position: relative;
    background-color:transparent;
    height: 400px;
    width: 400px;   
    margin-right: 3em;
    margin-bottom: 3em;    
}

.backgroundAlbum{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.backgroundAlbum h1{
    color: transparent;
    font-size: 35px;
    word-wrap: break-word;
    width: 90%;
    text-align: center;
}

.backgroundAlbum:hover{
    background-color: rgb(0, 0, 0,0.5);
}

.backgroundAlbum:hover > h1{
    color: #fff;
    animation: toApper 1s normal ease;
}

.threePoints{
    position: absolute;
    top:0;
    right: 0;
    padding: 0.5em;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
    z-index: 4;
    cursor: pointer;
    color: #53ba83;
}

@keyframes toApper{
    to{
        transform: translateY(0px);
    }

    from{
        transform: translateY(30px);
    }
}

.oneImage{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-bottom: 1px solid gray;
    box-shadow: 9px 5px 15px 0px #222;
}

.twoImages{
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 9px 5px 15px 0px #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twoImages > img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.fourImages{
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 9px 5px 15px 0px #222;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fourImages > img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

@media(max-width:1047px){
    .Album,.oneImage,.fourImages,.twoImages{
        width: 300px;
        height: 300px;
    }

    .backgroundAlbum{
        width: 300px;
        height: 300px;    
    }
    
    .backgroundAlbum h1{
        font-size: 25px;
    }

    .threePoints{
        font-size: 25px;
    }

}

@media(max-width:750px){
    .Album{
        margin-right: 0;
    }
}

@media(max-width:500px){
    .Album,.oneImage,.fourImages,.twoImages{
        width: 250px;
        height: 250px;
    }

    .backgroundAlbum{
        width: 250px;
        height: 250px;    
    }
    
    .backgroundAlbum h1{
        font-size: 25px;
    }

    .threePoints{
        font-size: 25px;
    }
    

}

@media(max-width:450px){
    .threePoints{
        left: -219px;
    }
}

@media(max-width:400px){
    .Album,.oneImage,.fourImages,.twoImages{
        width: 200px;
        height: 200px;
    }

    .backgroundAlbum{
        width: 200px;
        height: 200px;    
    }
    
    .backgroundAlbum h1{
        font-size: 25px;
    }

    .threePoints{
        font-size: 20px;
        left: -168px;
    }
    

}