.insertImage{
    position: relative;
    background-color:rgb(151, 151, 151);
    height: 400px;
    width: 400px;   
    margin-right: 3em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    box-shadow: 9px 5px 15px 0px #222;
}

.insertImage svg{
    font-size: 70px;
    color: rgb(51, 51, 51);
}

@media(max-width:1047px){
    .insertImage{
        width: 300px;
        height: 300px;
    }

    .insertImage svg{
        font-size: 60px;
    }
}

@media(max-width:750px){
    .insertImage{
        margin-right: 0;
    }
}

@media(max-width:500px){
    .insertImage{
        width: 250px;
        height: 250px;
    }

    .insertImage svg{
        font-size: 45px;
    }
}


@media(max-width:400px){
    .insertImage{
        width: 200px;
        height: 200px;
    }

    .insertImage svg{
        font-size: 45px;
    }
    

}