.insertImage{
    position: relative;
    background-color:rgb(151, 151, 151);
    height: 400px;
    width: 400px;   
    margin-right: 3em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    box-shadow: 9px 5px 15px 0px #222;
}

.insertImage svg{
    font-size: 70px;
    color: rgb(51, 51, 51);
}