.loaderImage{
    background-color: rgb(190, 190, 190);
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 5px 15px 0px #222;
    margin-right: 3em;
    margin-bottom: 3em;
}

.loaderImage svg{
    font-size: 80px;
    transform: translateZ();
    animation: searchImages 5s infinite ease;
}

@keyframes searchImages{
    0%{
        font-size: 80px;
    }

    10%{
        font-size: 150px;
    }

    20%{
        font-size: 80px;
    }

    30%{
        font-size: 150px;
    }

    40%{
        font-size: 80px;
    }

    50%{
        font-size: 150px;
    }

    60%{
        font-size: 80px;
    }

    70%{
        font-size: 150px;
    }

    80%{
        font-size: 80px;
    }

    90%{
        font-size: 150px;
    }

    100%{
        font-size: 80px;
    }
}

@keyframes searchImagesMobile{
    0%{
        font-size: 50px;
    }

    10%{
        font-size: 90px;
    }

    20%{
        font-size: 50px;
    }

    30%{
        font-size: 90px;
    }

    40%{
        font-size: 50px;
    }

    50%{
        font-size: 90px;
    }

    60%{
        font-size: 50px;
    }

    70%{
        font-size: 90px;
    }

    80%{
        font-size: 50px;
    }

    90%{
        font-size: 90px;
    }

    100%{
        font-size: 50px;
    }
}

@media(max-width:1047px){
    .loaderImage{
        width: 300px;
        height: 300px;
    }
    
    .loaderImage svg{
        font-size: 50px;
        animation: searchImagesMobile 5s infinite ease;
    }
}

@media(max-width:750px){
    .loaderImage{
        margin-right: 0;
    }
}


@media(max-width:500px){
    .loaderImage{
        width: 250px;
        height: 250px;
    }

}

@media(max-width:400px){
    .loaderImage{
        width: 200px;
        height: 200px;
    }

}