.warning{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.7);

}

.warningBox{
    background-color: #095169;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 600px;
    box-shadow: 12px 12px 7px -4px #222;
}

.warningBox h1{
    color: #53ba83;
    margin-bottom: 1em;
}

.buttonsWarning{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsWarning > button{
    background-color: #53ba83;
    border: none;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

.buttonsWarning > button:first-child{
    border: none;
    margin-right: 1em;
}

.buttonsWarning > button:last-child{
    transition: 0.5s;

}

.buttonsWarning > button:last-child:hover{
    background-color: #62d698;
}

@media(max-width:1000px){
    .warningBox{
        height: 200px;
        width: 400px;
    }

    .warningBox h1{
        font-size: 18px;
    }
    
    .buttonsWarning > button{
        width: 90px;
        height: 25px;
        font-size: 12px;
    }
    
}

@media(max-width:1000px){
    .warningBox{
        height: 200px;
        width: 400px;
    }

    .warningBox h1{
        font-size: 18px;
    }
    
    .buttonsWarning > button{
        width: 90px;
        height: 25px;
        font-size: 12px;
    }
    
}

@media(max-width:600px){
    .warningBox{
        height: 150px;
        width: 300px;
        padding: 1em;
    }

    .warningBox h1{
        font-size: 16px;
    }
    
    .buttonsWarning > button{
        width: 70px;
        height: 23px;
        font-size: 11px;
    }
    
}

@media(max-width:350px){
    .warningBox{
        height: 130px;
        width: 250px;
        padding: 1em;
    }

    .warningBox h1{
        font-size: 14px;
    }
    
    .buttonsWarning > button{
        width: 70px;
        height: 23px;
        font-size: 11px;
    }
    
}

@media(max-width:279px){
    .warning{
        width: 280px;
        overflow-x: hidden;
    }
}